.wp-block-makistyle-blocks-v2-breadcrumbs {
	.breadcrumbs__enlace {
		display: inline-flex;
		align-items: center;
		gap: 0.4em;
		text-decoration: none;
		cursor: pointer;
		color: white;
		border: 1px solid white;
		padding: 1rem;
	}
}
