.wp-block-makistyle-blocks-v2-tienda-listado-tipo-recurso {
  color: rgb(253, 253, 253);
  background-color: rgb(17, 17, 17);
  border: solid 1px white;
  padding: 1rem;

  .listado-descripcion {
    white-space: pre-wrap;
    min-width: 1px;
    margin: 0 0 1rem 0;
  }
}
