.wp-block-makistyle-blocks-v2-tienda-promociones {
  p {
    cursor: text;
    line-height: 2;
    color: var(--wp--preset--color--color-primario);
    font-size: var(--wp--preset--font-size--medium);
  }

  .codigo-descuento-copy {
    border: 2px solid #01fff7;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    display: inline-block;
  }

  .codigo-copy-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    width: 22px;
    height: 22px;
    color: #01fff7;
    pointer-events: none;
  }

  .codigo-tooltip {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1000;
  }
}
