.wp-block-makistyle-blocks-v2-woocommerce-promociones {
  p {
    cursor: text;
    line-height: 2;
    color: var(--wp--preset--color--color-primario);
    font-size: var(--wp--preset--font-size--medium);
  }
}
