/* colores  */
$color-primario: #01fff7;
$neon-rojo: #f70306;
$neon-naranja: #f9c351;
$neon-amarillo: #fdfd00;
$neon-naranja-apagado: #dcae4c;
$neon-naranja-apagado: #be7fba;
$color-titulo-destacados-home: #01fff7;
$neon-morado: #fd89f5;
$neon-rosa: #fdc3fb;
$color-leyenda-cards: #cccccc;

// $color-terciario: #eb444b;
$marron-muy-oscuro: #4e3d35;
$negro: #111111;
$blanco: #fdfdfd;
// $color-palante1: #816448;
// $color-palante2: #4e473a;
$color-fondo-oscuro-cards: #1a1a1a;

// font-families
// $base-font-family: "Montserrat", serif;

// Breakpoints
$xs: 0;
//añadido xsm
$xsm: 350px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$sm-wp: 782px;

/* Columnas  */
$col-auto: auto;
$col-0: 0;
$col-1: 8.33%;
$col-2: 16.66%;
$col-3: 25%;
$col-4: 33.33%;
$col-5: 41.66%;
$col-6: 50%;
$col-7: 58.33%;
$col-8: 66.66%;
$col-9: 75%;
$col-10: 83.33%;
$col-11: 91.66%;
$col-12: 100%;

/* Font weights  */
$thin: 100;
$x-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$x-bold: 800;
$xx-bold: 900;
