<!-- wp:group {"metadata":{"name":"main-container"},"className":"main-container","layout":{"type":"constrained"}} -->
<div class="wp-block-group main-container"><!-- wp:template-part {"slug":"header-paginas","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"menu-principal","area":"uncategorized"} /-->

<!-- wp:group {"metadata":{"name":"texto_404"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"200px"} -->
<div style="height:200px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"backgroundColor":"negro","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group has-negro-background-color has-background"><!-- wp:heading {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|color-primario"}}}},"textColor":"color-primario","fontSize":"x-large"} -->
<h2 class="wp-block-heading has-text-align-center has-color-primario-color has-text-color has-link-color has-x-large-font-size">404 / </h2>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|blanco"}}}},"textColor":"blanco","fontSize":"x-large"} -->
<h2 class="wp-block-heading has-text-align-center has-blanco-color has-text-color has-link-color has-x-large-font-size">Recurso no encontrado</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"300px"} -->
<div style="height:300px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-all","area":"uncategorized"} /--></div>
<!-- /wp:group -->