<!-- wp:group {"metadata":{"name":"main-container"},"className":"main-container","layout":{"type":"constrained"}} -->
<div class="wp-block-group main-container"><!-- wp:template-part {"slug":"header-paginas","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"menu-principal","area":"uncategorized"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"main"},"backgroundColor":"negro","layout":{"type":"constrained"}} -->
<main class="wp-block-group has-negro-background-color has-background"><!-- wp:spacer {"height":"50px"} -->
<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"metadata":{"name":"titulo"},"className":"gap-x-7rem seccion","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group gap-x-7rem seccion"><!-- wp:makistyle-blocks-v2/boton-regresar /-->

<!-- wp:heading {"textAlign":"center","className":"monoton-regular","style":{"elements":{"link":{"color":{"text":"var:preset|color|color-primario"}}}},"textColor":"color-primario","fontSize":"x-large"} -->
<h2 class="wp-block-heading has-text-align-center monoton-regular has-color-primario-color has-text-color has-link-color has-x-large-font-size">Resultados de la búsqueda:</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"50px"} -->
<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:makistyle-blocks-v2/busqueda-tienda-listado /-->

<!-- wp:makistyle-blocks-v2/busqueda-blog-listado /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-all","area":"uncategorized"} /--></div>
<!-- /wp:group -->