<!-- wp:group {"metadata":{"name":"main-container"},"className":"main-container","layout":{"type":"constrained"}} -->
<div class="wp-block-group main-container"><!-- wp:template-part {"slug":"header-paginas","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"menu-principal","area":"uncategorized"} /-->

<!-- wp:makistyle-blocks-v2/breadcrumbs /-->

<!-- wp:post-content {"className":"color-blanco"} /-->

<!-- wp:template-part {"slug":"footer-all","area":"uncategorized"} /--></div>
<!-- /wp:group -->